.Header__component{
    width: 100%;
    padding: 10px;
    position: sticky;
    z-index: 100;
    justify-content: center;
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(232, 234, 235),rgb(184, 214, 230),rgb(139, 197, 226) ,rgb(57, 167, 223),rgb(139, 197, 226), rgb(184, 214, 230),rgb(232, 234, 235));
}


