.Shop__nowButton{
    margin-top: 10px;
    color: rgb(2, 37, 68);
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(232, 234, 235),rgb(184, 214, 230),rgb(139, 197, 226) ,rgb(57, 167, 223),rgb(139, 197, 226), rgb(184, 214, 230),rgb(232, 234, 235));
    padding: 5px;
    font-size: large;
    font-weight: 600;
}
.Shop__nowButton:hover{
    background-color: aqua;
    transform: scale(1.2);
    transition: 1s;
    cursor:pointer;
    font-weight: 900;
}

.Landing__info{
    margin: 30px;
}

.Landing__image{
    width: 100%;
    height: 600px;
    mask-image: linear-gradient(from top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}